<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,65}</string>
                <key>spriteSourceSize</key>
                <string>{234,65}</string>
                <key>textureRect</key>
                <string>{{610,657},{234,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,76}</string>
                <key>spriteSourceSize</key>
                <string>{93,76}</string>
                <key>textureRect</key>
                <string>{{775,551},{93,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haoyoutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,82}</string>
                <key>spriteSourceSize</key>
                <string>{548,82}</string>
                <key>textureRect</key>
                <string>{{775,1},{548,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jianglidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,313}</string>
                <key>spriteSourceSize</key>
                <string>{607,313}</string>
                <key>textureRect</key>
                <string>{{1,431},{607,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,44}</string>
                <key>spriteSourceSize</key>
                <string>{548,44}</string>
                <key>textureRect</key>
                <string>{{859,1},{548,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,44}</string>
                <key>spriteSourceSize</key>
                <string>{548,44}</string>
                <key>textureRect</key>
                <string>{{905,1},{548,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shenqingkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,428}</string>
                <key>spriteSourceSize</key>
                <string>{607,428}</string>
                <key>textureRect</key>
                <string>{{1,1},{607,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshitu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,163}</string>
                <key>spriteSourceSize</key>
                <string>{654,163}</string>
                <key>textureRect</key>
                <string>{{610,1},{654,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yaoqing.png</string>
            <key>size</key>
            <string>{950,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a914cc9781be40ca2080165b6fb294:e10f3b05f0b442b1a3aa324dd3193c42:949cb0fc57c47235f9f4d91bf30aab06$</string>
            <key>textureFileName</key>
            <string>yaoqing.png</string>
        </dict>
    </dict>
</plist>
