<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1098,1077},{62,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1098,1193},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{294,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,180}</string>
                <key>textureRect</key>
                <string>{{610,1329},{294,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengjiukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,908}</string>
                <key>spriteSourceSize</key>
                <string>{607,908}</string>
                <key>textureRect</key>
                <string>{{1,723},{607,908}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengjiutitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,54}</string>
                <key>spriteSourceSize</key>
                <string>{546,54}</string>
                <key>textureRect</key>
                <string>{{610,723},{546,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{846,1505},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1145}</string>
                <key>spriteSourceSize</key>
                <string>{720,1145}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiqiren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1098,1141},{50,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,372}</string>
                <key>spriteSourceSize</key>
                <string>{548,372}</string>
                <key>textureRect</key>
                <string>{{610,779},{548,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{846,1329},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1098,1505},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>namedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,53}</string>
                <key>spriteSourceSize</key>
                <string>{252,53}</string>
                <key>textureRect</key>
                <string>{{1098,1251},{252,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>neitrongtiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,112}</string>
                <key>spriteSourceSize</key>
                <string>{548,112}</string>
                <key>textureRect</key>
                <string>{{984,1077},{548,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renwutitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,52}</string>
                <key>spriteSourceSize</key>
                <string>{294,52}</string>
                <key>textureRect</key>
                <string>{{792,1329},{294,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>telegram.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{910,1505},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{984,779},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,145}</string>
                <key>spriteSourceSize</key>
                <string>{144,145}</string>
                <key>textureRect</key>
                <string>{{984,931},{144,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1098,1557},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{846,1573},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chengjiu.png</string>
            <key>size</key>
            <string>{1157,1632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:637bdaee00311b8be49d3d647ac907b8:bff524bd20336d1d97205bee27d64311:ab6d883ef2fc6c3cb5ad15cb75821ac1$</string>
            <key>textureFileName</key>
            <string>chengjiu.png</string>
        </dict>
    </dict>
</plist>
