<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianqianlv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,128}</string>
                <key>spriteSourceSize</key>
                <string>{71,128}</string>
                <key>textureRect</key>
                <string>{{106,880},{71,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqianhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,128}</string>
                <key>spriteSourceSize</key>
                <string>{71,128}</string>
                <key>textureRect</key>
                <string>{{179,880},{71,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duigou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,146}</string>
                <key>spriteSourceSize</key>
                <string>{143,146}</string>
                <key>textureRect</key>
                <string>{{1,503},{143,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{117,113}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{1,763},{117,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{131,77}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{170,370},{131,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{127,81}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{149,644},{127,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{139,97}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{149,503},{139,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{167,131}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{1,370},{167,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{191,139}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{1,229},{191,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{120,773},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{125,103}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{1,878},{125,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{143,113}</string>
                <key>spriteSourceSize</key>
                <string>{191,141}</string>
                <key>textureRect</key>
                <string>{{1,648},{143,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lihe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{194,229},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{226,229},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wupinkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,242}</string>
                <key>spriteSourceSize</key>
                <string>{226,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhifu.png</string>
            <key>size</key>
            <string>{251,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dabf16357b1426448988bebc5b156f77:98ddae226a825e4f2ab67f3afee9ca46:d55c2c6563a2009fe6c806ba07a7ee01$</string>
            <key>textureFileName</key>
            <string>zhifu.png</string>
        </dict>
    </dict>
</plist>
