<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chanzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,222}</string>
                <key>spriteSourceSize</key>
                <string>{183,222}</string>
                <key>textureRect</key>
                <string>{{1367,255},{183,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,56}</string>
                <key>spriteSourceSize</key>
                <string>{252,56}</string>
                <key>textureRect</key>
                <string>{{1367,1},{252,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-106}</string>
                <key>spriteSize</key>
                <string>{107,99}</string>
                <key>spriteSourceSize</key>
                <string>{281,331}</string>
                <key>textureRect</key>
                <string>{{1425,1},{107,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luobo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,151}</string>
                <key>spriteSourceSize</key>
                <string>{172,151}</string>
                <key>textureRect</key>
                <string>{{1283,551},{172,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{1425,110},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouhuodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,50}</string>
                <key>spriteSourceSize</key>
                <string>{167,50}</string>
                <key>textureRect</key>
                <string>{{1367,479},{167,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titledi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,82}</string>
                <key>spriteSourceSize</key>
                <string>{548,82}</string>
                <key>textureRect</key>
                <string>{{1283,1},{548,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tubia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{93,76}</string>
                <key>textureRect</key>
                <string>{{1425,164},{47,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiantiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,2}</string>
                <key>spriteSourceSize</key>
                <string>{133,2}</string>
                <key>textureRect</key>
                <string>{{1283,704},{133,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,74}</string>
                <key>spriteSourceSize</key>
                <string>{93,76}</string>
                <key>textureRect</key>
                <string>{{1457,531},{93,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zidong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,74}</string>
                <key>spriteSourceSize</key>
                <string>{93,76}</string>
                <key>textureRect</key>
                <string>{{1457,626},{93,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baluobo.png</string>
            <key>size</key>
            <string>{1551,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ea10a025fa0ba43ed11762ebd6880a:1a032dee00d2158c4625b55a0a268f66:cd1e7fe20f7a5deb13f302b44efb1a4e$</string>
            <key>textureFileName</key>
            <string>baluobo.png</string>
        </dict>
    </dict>
</plist>
