<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,417}</string>
                <key>spriteSourceSize</key>
                <string>{513,453}</string>
                <key>textureRect</key>
                <string>{{1,1283},{513,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rankbaijin.png</string>
            <key>size</key>
            <string>{722,1701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9db6d23c90bfd41b01ad0adf5998120:b110097d4f565582a518d4aae094d3e0:fe6186b2743f6223af412f8d082cb314$</string>
            <key>textureFileName</key>
            <string>rankbaijin.png</string>
        </dict>
    </dict>
</plist>
