<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{275,880},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{1661,910},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,61}</string>
                <key>spriteSourceSize</key>
                <string>{85,61}</string>
                <key>textureRect</key>
                <string>{{1528,865},{85,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,472}</string>
                <key>spriteSourceSize</key>
                <string>{651,472}</string>
                <key>textureRect</key>
                <string>{{1283,1},{651,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,94}</string>
                <key>spriteSourceSize</key>
                <string>{720,94}</string>
                <key>textureRect</key>
                <string>{{766,872},{720,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baluobo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,103}</string>
                <key>spriteSourceSize</key>
                <string>{91,103}</string>
                <key>textureRect</key>
                <string>{{545,874},{91,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btncheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{1504,720},{91,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btndi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{96,102}</string>
                <key>textureRect</key>
                <string>{{317,880},{96,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btndi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{209,924},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{1488,867},{91,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caichang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,148}</string>
                <key>spriteSourceSize</key>
                <string>{122,148}</string>
                <key>textureRect</key>
                <string>{{632,723},{122,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{1462,815},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,149}</string>
                <key>spriteSourceSize</key>
                <string>{119,149}</string>
                <key>textureRect</key>
                <string>{{511,723},{119,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1703,910},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,64}</string>
                <key>spriteSourceSize</key>
                <string>{445,64}</string>
                <key>textureRect</key>
                <string>{{1283,654},{445,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{1671,780},{63,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{1512,813},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{1562,809},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luobobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1410,815},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{1352,815},{55,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{1612,807},{48,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,110}</string>
                <key>spriteSourceSize</key>
                <string>{155,110}</string>
                <key>textureRect</key>
                <string>{{275,723},{155,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qipao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{1671,720},{76,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,64}</string>
                <key>spriteSourceSize</key>
                <string>{199,64}</string>
                <key>textureRect</key>
                <string>{{209,723},{199,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{387,723},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{1631,907},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shengyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{1664,845},{63,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shouzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{638,873},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{884,723},{144,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuzibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{258,924},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,60}</string>
                <key>spriteSourceSize</key>
                <string>{87,60}</string>
                <key>textureRect</key>
                <string>{{1546,720},{87,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaolian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,61}</string>
                <key>spriteSourceSize</key>
                <string>{85,61}</string>
                <key>textureRect</key>
                <string>{{1608,720},{85,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{1228,723},{129,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,147}</string>
                <key>spriteSourceSize</key>
                <string>{126,147}</string>
                <key>textureRect</key>
                <string>{{756,723},{126,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yizi1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{421,875},{98,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yizi1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,10}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{1591,910},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yizi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,131}</string>
                <key>spriteSourceSize</key>
                <string>{88,131}</string>
                <key>textureRect</key>
                <string>{{1138,723},{88,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,247}</string>
                <key>spriteSourceSize</key>
                <string>{206,247}</string>
                <key>textureRect</key>
                <string>{{1,723},{206,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuozi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,133}</string>
                <key>spriteSourceSize</key>
                <string>{114,133}</string>
                <key>textureRect</key>
                <string>{{1022,723},{114,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,74}</string>
                <key>spriteSourceSize</key>
                <string>{93,76}</string>
                <key>textureRect</key>
                <string>{{1352,720},{93,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zidong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,74}</string>
                <key>spriteSourceSize</key>
                <string>{93,76}</string>
                <key>textureRect</key>
                <string>{{1428,720},{93,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zixing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{1612,857},{48,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1756,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cee7d674a7b0efa3e611e9b6d0cc7b0:70c5864628aedd64f707d13183ee9081:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
