<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,453}</string>
                <key>spriteSourceSize</key>
                <string>{513,453}</string>
                <key>textureRect</key>
                <string>{{1283,1},{451,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rankqingtong.png</string>
            <key>size</key>
            <string>{1735,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1a1d1eddda4e3747f35a3b98c5df03:affb7657c3c6700eeb87e2ecb9aa6b29:ff4567d1426d49a64856eecf04ba01bc$</string>
            <key>textureFileName</key>
            <string>rankqingtong.png</string>
        </dict>
    </dict>
</plist>
