<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{451,453}</string>
                <key>spriteSourceSize</key>
                <string>{513,453}</string>
                <key>textureRect</key>
                <string>{{1283,1},{451,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rankbaiyin.png</string>
            <key>size</key>
            <string>{1735,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1413b0cfde2d4a40ced0720c9812a537:a1aab84ed1280364c4a2f60e0357a9ba:932e261607691cef9aa4324f538f9ca4$</string>
            <key>textureFileName</key>
            <string>rankbaiyin.png</string>
        </dict>
    </dict>
</plist>
