<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baiyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{1,50},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{1,99},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qingtong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{1,148},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{1,197},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranksmall.png</string>
            <key>size</key>
            <string>{61,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a00cdb01fa47f5a51e6fb2dd9b46ffa2:69e53d3ff83a7128fce249980e374ce2:e06a86c564ffc6065ba16217eb61edec$</string>
            <key>textureFileName</key>
            <string>ranksmall.png</string>
        </dict>
    </dict>
</plist>
