<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,314}</string>
                <key>spriteSourceSize</key>
                <string>{608,314}</string>
                <key>textureRect</key>
                <string>{{1,1148},{608,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btncheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{1320,1020},{91,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{245,1548},{91,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnhongchang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,76}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{551,1518},{254,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,76}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{807,1518},{254,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnhuanghui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,76}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{1063,1518},{254,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{338,1548},{91,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnlan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{431,1548},{91,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnlv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{91,38}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{1984,333},{91,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cishudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,75}</string>
                <key>spriteSourceSize</key>
                <string>{193,75}</string>
                <key>textureRect</key>
                <string>{{1593,1508},{193,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{1830,1426},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,1145}</string>
                <key>spriteSourceSize</key>
                <string>{719,1145}</string>
                <key>textureRect</key>
                <string>{{1,1},{719,1145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,670}</string>
                <key>spriteSourceSize</key>
                <string>{607,670}</string>
                <key>textureRect</key>
                <string>{{1375,1},{607,670}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,496}</string>
                <key>spriteSourceSize</key>
                <string>{596,496}</string>
                <key>textureRect</key>
                <string>{{1375,673},{596,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duigou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{1320,1113},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{1900,1426},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gouxuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{1830,1500},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groupchoose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,72}</string>
                <key>spriteSourceSize</key>
                <string>{271,72}</string>
                <key>textureRect</key>
                <string>{{1320,1508},{271,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groupnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{271,60}</string>
                <key>spriteSourceSize</key>
                <string>{271,72}</string>
                <key>textureRect</key>
                <string>{{1973,673},{271,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiagedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,43}</string>
                <key>spriteSourceSize</key>
                <string>{158,43}</string>
                <key>textureRect</key>
                <string>{{1973,946},{158,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{1788,1508},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{1788,1552},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,1017}</string>
                <key>spriteSourceSize</key>
                <string>{651,1017}</string>
                <key>textureRect</key>
                <string>{{722,1},{651,1017}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,496}</string>
                <key>spriteSourceSize</key>
                <string>{596,496}</string>
                <key>textureRect</key>
                <string>{{722,1020},{596,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ladong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,51}</string>
                <key>spriteSourceSize</key>
                <string>{48,51}</string>
                <key>textureRect</key>
                <string>{{1973,1106},{48,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ladongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,18}</string>
                <key>spriteSourceSize</key>
                <string>{330,18}</string>
                <key>textureRect</key>
                <string>{{1984,1},{330,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1984,426},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,99}</string>
                <key>spriteSourceSize</key>
                <string>{295,99}</string>
                <key>textureRect</key>
                <string>{{611,1148},{295,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongyongkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,42}</string>
                <key>spriteSourceSize</key>
                <string>{242,42}</string>
                <key>textureRect</key>
                <string>{{1,1548},{242,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,80}</string>
                <key>spriteSourceSize</key>
                <string>{560,80}</string>
                <key>textureRect</key>
                <string>{{1320,1426},{508,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{551,1464},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,253}</string>
                <key>spriteSourceSize</key>
                <string>{654,253}</string>
                <key>textureRect</key>
                <string>{{1320,1171},{654,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zitiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,82}</string>
                <key>spriteSourceSize</key>
                <string>{548,82}</string>
                <key>textureRect</key>
                <string>{{1,1464},{548,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tongyong.png</string>
            <key>size</key>
            <string>{2034,1595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c72f83a24a279361a1cc6c0e0c03cde:fb0c340b6acd78878e940d71fb0feaa2:9345cb456e2fbcba3515238344400a5e$</string>
            <key>textureFileName</key>
            <string>tongyong.png</string>
        </dict>
    </dict>
</plist>
