<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{457,437}</string>
                <key>spriteSourceSize</key>
                <string>{513,453}</string>
                <key>textureRect</key>
                <string>{{1,1283},{457,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rankhuangjin.png</string>
            <key>size</key>
            <string>{722,1721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597e744c46dd5076a90b8e3984c4e02f:a4ca8a176a823b1cc6a4c1756928292e:2cba53b02573df62b366c0766647436a$</string>
            <key>textureFileName</key>
            <string>rankhuangjin.png</string>
        </dict>
    </dict>
</plist>
