<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backtiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,67}</string>
                <key>spriteSourceSize</key>
                <string>{607,67}</string>
                <key>textureRect</key>
                <string>{{1,877},{607,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,128}</string>
                <key>spriteSourceSize</key>
                <string>{73,128}</string>
                <key>textureRect</key>
                <string>{{610,722},{73,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,76}</string>
                <key>spriteSourceSize</key>
                <string>{254,76}</string>
                <key>textureRect</key>
                <string>{{610,852},{254,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,1145}</string>
                <key>spriteSourceSize</key>
                <string>{719,1145}</string>
                <key>textureRect</key>
                <string>{{1,1},{719,1145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,153}</string>
                <key>spriteSourceSize</key>
                <string>{607,153}</string>
                <key>textureRect</key>
                <string>{{1,722},{607,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,100}</string>
                <key>spriteSourceSize</key>
                <string>{71,100}</string>
                <key>textureRect</key>
                <string>{{685,722},{71,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,44}</string>
                <key>spriteSourceSize</key>
                <string>{303,44}</string>
                <key>textureRect</key>
                <string>{{758,722},{303,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1147,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc1515d97c84976277c8b82e1cb7628:40590dab532936a0a952769b0a58040a:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
