<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,93}</string>
                <key>textureRect</key>
                <string>{{835,1},{98,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>disan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,93}</string>
                <key>textureRect</key>
                <string>{{835,101},{98,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,93}</string>
                <key>textureRect</key>
                <string>{{835,201},{98,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,58}</string>
                <key>spriteSourceSize</key>
                <string>{216,58}</string>
                <key>textureRect</key>
                <string>{{835,301},{216,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rankdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,568}</string>
                <key>spriteSourceSize</key>
                <string>{607,568}</string>
                <key>textureRect</key>
                <string>{{1,1},{607,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranktiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,82}</string>
                <key>spriteSourceSize</key>
                <string>{548,82}</string>
                <key>textureRect</key>
                <string>{{694,1},{548,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,31}</string>
                <key>spriteSourceSize</key>
                <string>{598,31}</string>
                <key>textureRect</key>
                <string>{{1,571},{598,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toptiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,55}</string>
                <key>spriteSourceSize</key>
                <string>{468,55}</string>
                <key>textureRect</key>
                <string>{{778,1},{468,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{778,519},{79,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wupaiming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,82}</string>
                <key>spriteSourceSize</key>
                <string>{554,82}</string>
                <key>textureRect</key>
                <string>{{610,1},{554,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{929,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b88201bca83ade807836ba4f78d819:6e289b310d5a83b8f72b4daa8f442e6a:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
